<div class="px-sm-0 px-3">
	<h2>TMPLT: GAME NAME - <font class="rngTheme-color">TMPLT: ROLES</font></h2>
</div>
<a href="TMPLT: LINK TO PAGE"><div class="jumbotron jumbotron-fluid text-center portfolio-banner" style="background-image: url(TMPLT: IMAGE BANNER)">
	<img class="img-fluid" src="TMPLT: GAME NAME IMAGE" alt="TMPLT: GAME NAME TEXT"/>
</div></a>
<div class="px-sm-0 px-3">
	<p>Demonstrated skills: TMPLT: LIST OF SKILLS</p>
	<a href="TMPLT: LINK TO PAGE" class="btn btn-dark align-left">See More</a>
</div>