<div class="row">
	<div class="col-12">
		<h2>TMPLT: GAME NAME - <font class="rngTheme-color">TMPLT: ROLES</font></h2>
		<a href="TMPLT: LINK TO PAGE"><div class="jumbotron jumbotron-fluid text-center portfolio-banner" style="background-image: url(TMPLT: IMAGE BANNER)">
			<img class="img-fluid" src="TMPLT: GAME NAME IMAGE" alt="TMPLT: GAME NAME TEXT"/>
		</div></a>
		<p>Demonstrated skills: TMPLT: LIST OF SKILLS</p>
		<a href="TMPLT: LINK TO PAGE" class="btn btn-dark align-left">See More</a>
	</div>
</div>